/*
ROS Policy

Define, evaluate, and enforce data retention policies

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package drpe

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DsarAPIService DsarAPI service
type DsarAPIService service

type ApiGetRequestApiV1DsarRequestsRequestIdGetRequest struct {
	ctx context.Context
	ApiService *DsarAPIService
	requestId string
}

func (r ApiGetRequestApiV1DsarRequestsRequestIdGetRequest) Execute() (*DsarRequest, *http.Response, error) {
	return r.ApiService.GetRequestApiV1DsarRequestsRequestIdGetExecute(r)
}

/*
GetRequestApiV1DsarRequestsRequestIdGet Get Request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param requestId
 @return ApiGetRequestApiV1DsarRequestsRequestIdGetRequest
*/
func (a *DsarAPIService) GetRequestApiV1DsarRequestsRequestIdGet(ctx context.Context, requestId string) ApiGetRequestApiV1DsarRequestsRequestIdGetRequest {
	return ApiGetRequestApiV1DsarRequestsRequestIdGetRequest{
		ApiService: a,
		ctx: ctx,
		requestId: requestId,
	}
}

// Execute executes the request
//  @return DsarRequest
func (a *DsarAPIService) GetRequestApiV1DsarRequestsRequestIdGetExecute(r ApiGetRequestApiV1DsarRequestsRequestIdGetRequest) (*DsarRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DsarRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DsarAPIService.GetRequestApiV1DsarRequestsRequestIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/dsar/requests/{request_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"request_id"+"}", url.PathEscape(parameterValueToString(r.requestId, "requestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRequestsApiV1DsarRequestsGetRequest struct {
	ctx context.Context
	ApiService *DsarAPIService
	type_ *DsarRequestType
	status *DsarRequestStatus
	subjectId *string
	policyId *string
	limit *int32
	offset *int32
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) Type_(type_ DsarRequestType) ApiListRequestsApiV1DsarRequestsGetRequest {
	r.type_ = &type_
	return r
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) Status(status DsarRequestStatus) ApiListRequestsApiV1DsarRequestsGetRequest {
	r.status = &status
	return r
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) SubjectId(subjectId string) ApiListRequestsApiV1DsarRequestsGetRequest {
	r.subjectId = &subjectId
	return r
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) PolicyId(policyId string) ApiListRequestsApiV1DsarRequestsGetRequest {
	r.policyId = &policyId
	return r
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) Limit(limit int32) ApiListRequestsApiV1DsarRequestsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) Offset(offset int32) ApiListRequestsApiV1DsarRequestsGetRequest {
	r.offset = &offset
	return r
}

func (r ApiListRequestsApiV1DsarRequestsGetRequest) Execute() ([]DsarRequest, *http.Response, error) {
	return r.ApiService.ListRequestsApiV1DsarRequestsGetExecute(r)
}

/*
ListRequestsApiV1DsarRequestsGet List Requests

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRequestsApiV1DsarRequestsGetRequest
*/
func (a *DsarAPIService) ListRequestsApiV1DsarRequestsGet(ctx context.Context) ApiListRequestsApiV1DsarRequestsGetRequest {
	return ApiListRequestsApiV1DsarRequestsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DsarRequest
func (a *DsarAPIService) ListRequestsApiV1DsarRequestsGetExecute(r ApiListRequestsApiV1DsarRequestsGetRequest) ([]DsarRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DsarRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DsarAPIService.ListRequestsApiV1DsarRequestsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/dsar/requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.subjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject_id", r.subjectId, "form", "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSubmitAccessApiV1DsarAccessPostRequest struct {
	ctx context.Context
	ApiService *DsarAPIService
	dsarSubmitRequest *DsarSubmitRequest
}

func (r ApiSubmitAccessApiV1DsarAccessPostRequest) DsarSubmitRequest(dsarSubmitRequest DsarSubmitRequest) ApiSubmitAccessApiV1DsarAccessPostRequest {
	r.dsarSubmitRequest = &dsarSubmitRequest
	return r
}

func (r ApiSubmitAccessApiV1DsarAccessPostRequest) Execute() (*DsarRequest, *http.Response, error) {
	return r.ApiService.SubmitAccessApiV1DsarAccessPostExecute(r)
}

/*
SubmitAccessApiV1DsarAccessPost Submit Access

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSubmitAccessApiV1DsarAccessPostRequest
*/
func (a *DsarAPIService) SubmitAccessApiV1DsarAccessPost(ctx context.Context) ApiSubmitAccessApiV1DsarAccessPostRequest {
	return ApiSubmitAccessApiV1DsarAccessPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DsarRequest
func (a *DsarAPIService) SubmitAccessApiV1DsarAccessPostExecute(r ApiSubmitAccessApiV1DsarAccessPostRequest) (*DsarRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DsarRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DsarAPIService.SubmitAccessApiV1DsarAccessPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/dsar/access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dsarSubmitRequest == nil {
		return localVarReturnValue, nil, reportError("dsarSubmitRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dsarSubmitRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSubmitErasureApiV1DsarErasurePostRequest struct {
	ctx context.Context
	ApiService *DsarAPIService
	dsarSubmitRequest *DsarSubmitRequest
}

func (r ApiSubmitErasureApiV1DsarErasurePostRequest) DsarSubmitRequest(dsarSubmitRequest DsarSubmitRequest) ApiSubmitErasureApiV1DsarErasurePostRequest {
	r.dsarSubmitRequest = &dsarSubmitRequest
	return r
}

func (r ApiSubmitErasureApiV1DsarErasurePostRequest) Execute() (*DsarRequest, *http.Response, error) {
	return r.ApiService.SubmitErasureApiV1DsarErasurePostExecute(r)
}

/*
SubmitErasureApiV1DsarErasurePost Submit Erasure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSubmitErasureApiV1DsarErasurePostRequest
*/
func (a *DsarAPIService) SubmitErasureApiV1DsarErasurePost(ctx context.Context) ApiSubmitErasureApiV1DsarErasurePostRequest {
	return ApiSubmitErasureApiV1DsarErasurePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DsarRequest
func (a *DsarAPIService) SubmitErasureApiV1DsarErasurePostExecute(r ApiSubmitErasureApiV1DsarErasurePostRequest) (*DsarRequest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DsarRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DsarAPIService.SubmitErasureApiV1DsarErasurePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/dsar/erasure"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dsarSubmitRequest == nil {
		return localVarReturnValue, nil, reportError("dsarSubmitRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dsarSubmitRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
