/*
ROS Policy

Define, evaluate, and enforce data retention policies

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package drpe

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GraceHoldsAPIService GraceHoldsAPI service
type GraceHoldsAPIService service

type ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest struct {
	ctx context.Context
	ApiService *GraceHoldsAPIService
	holdId string
	graceHoldActionRequest *GraceHoldActionRequest
}

func (r ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest) GraceHoldActionRequest(graceHoldActionRequest GraceHoldActionRequest) ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest {
	r.graceHoldActionRequest = &graceHoldActionRequest
	return r
}

func (r ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest) Execute() (*GraceHold, *http.Response, error) {
	return r.ApiService.CancelGraceHoldApiV1GraceHoldsHoldIdCancelPostExecute(r)
}

/*
CancelGraceHoldApiV1GraceHoldsHoldIdCancelPost Cancel Grace Hold

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holdId
 @return ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest
*/
func (a *GraceHoldsAPIService) CancelGraceHoldApiV1GraceHoldsHoldIdCancelPost(ctx context.Context, holdId string) ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest {
	return ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest{
		ApiService: a,
		ctx: ctx,
		holdId: holdId,
	}
}

// Execute executes the request
//  @return GraceHold
func (a *GraceHoldsAPIService) CancelGraceHoldApiV1GraceHoldsHoldIdCancelPostExecute(r ApiCancelGraceHoldApiV1GraceHoldsHoldIdCancelPostRequest) (*GraceHold, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GraceHold
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GraceHoldsAPIService.CancelGraceHoldApiV1GraceHoldsHoldIdCancelPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/grace-holds/{hold_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"hold_id"+"}", url.PathEscape(parameterValueToString(r.holdId, "holdId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.graceHoldActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest struct {
	ctx context.Context
	ApiService *GraceHoldsAPIService
	holdId string
	graceHoldActionRequest *GraceHoldActionRequest
}

func (r ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest) GraceHoldActionRequest(graceHoldActionRequest GraceHoldActionRequest) ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest {
	r.graceHoldActionRequest = &graceHoldActionRequest
	return r
}

func (r ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest) Execute() (*GraceHold, *http.Response, error) {
	return r.ApiService.ForceGraceHoldApiV1GraceHoldsHoldIdForcePostExecute(r)
}

/*
ForceGraceHoldApiV1GraceHoldsHoldIdForcePost Force Grace Hold

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holdId
 @return ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest
*/
func (a *GraceHoldsAPIService) ForceGraceHoldApiV1GraceHoldsHoldIdForcePost(ctx context.Context, holdId string) ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest {
	return ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest{
		ApiService: a,
		ctx: ctx,
		holdId: holdId,
	}
}

// Execute executes the request
//  @return GraceHold
func (a *GraceHoldsAPIService) ForceGraceHoldApiV1GraceHoldsHoldIdForcePostExecute(r ApiForceGraceHoldApiV1GraceHoldsHoldIdForcePostRequest) (*GraceHold, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GraceHold
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GraceHoldsAPIService.ForceGraceHoldApiV1GraceHoldsHoldIdForcePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/grace-holds/{hold_id}/force"
	localVarPath = strings.Replace(localVarPath, "{"+"hold_id"+"}", url.PathEscape(parameterValueToString(r.holdId, "holdId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.graceHoldActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetGraceHoldApiV1GraceHoldsHoldIdGetRequest struct {
	ctx context.Context
	ApiService *GraceHoldsAPIService
	holdId string
}

func (r ApiGetGraceHoldApiV1GraceHoldsHoldIdGetRequest) Execute() (*GraceHold, *http.Response, error) {
	return r.ApiService.GetGraceHoldApiV1GraceHoldsHoldIdGetExecute(r)
}

/*
GetGraceHoldApiV1GraceHoldsHoldIdGet Get Grace Hold

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holdId
 @return ApiGetGraceHoldApiV1GraceHoldsHoldIdGetRequest
*/
func (a *GraceHoldsAPIService) GetGraceHoldApiV1GraceHoldsHoldIdGet(ctx context.Context, holdId string) ApiGetGraceHoldApiV1GraceHoldsHoldIdGetRequest {
	return ApiGetGraceHoldApiV1GraceHoldsHoldIdGetRequest{
		ApiService: a,
		ctx: ctx,
		holdId: holdId,
	}
}

// Execute executes the request
//  @return GraceHold
func (a *GraceHoldsAPIService) GetGraceHoldApiV1GraceHoldsHoldIdGetExecute(r ApiGetGraceHoldApiV1GraceHoldsHoldIdGetRequest) (*GraceHold, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GraceHold
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GraceHoldsAPIService.GetGraceHoldApiV1GraceHoldsHoldIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/grace-holds/{hold_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"hold_id"+"}", url.PathEscape(parameterValueToString(r.holdId, "holdId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListGraceHoldsApiV1GraceHoldsGetRequest struct {
	ctx context.Context
	ApiService *GraceHoldsAPIService
	status *GraceHoldStatus
	policyId *string
	recordId *string
	ruleId *string
	limit *int32
	offset *int32
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) Status(status GraceHoldStatus) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	r.status = &status
	return r
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) PolicyId(policyId string) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	r.policyId = &policyId
	return r
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) RecordId(recordId string) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	r.recordId = &recordId
	return r
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) RuleId(ruleId string) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	r.ruleId = &ruleId
	return r
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) Limit(limit int32) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) Offset(offset int32) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	r.offset = &offset
	return r
}

func (r ApiListGraceHoldsApiV1GraceHoldsGetRequest) Execute() ([]GraceHold, *http.Response, error) {
	return r.ApiService.ListGraceHoldsApiV1GraceHoldsGetExecute(r)
}

/*
ListGraceHoldsApiV1GraceHoldsGet List Grace Holds

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListGraceHoldsApiV1GraceHoldsGetRequest
*/
func (a *GraceHoldsAPIService) ListGraceHoldsApiV1GraceHoldsGet(ctx context.Context) ApiListGraceHoldsApiV1GraceHoldsGetRequest {
	return ApiListGraceHoldsApiV1GraceHoldsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GraceHold
func (a *GraceHoldsAPIService) ListGraceHoldsApiV1GraceHoldsGetExecute(r ApiListGraceHoldsApiV1GraceHoldsGetRequest) ([]GraceHold, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GraceHold
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GraceHoldsAPIService.ListGraceHoldsApiV1GraceHoldsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/grace-holds"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "form", "")
	}
	if r.recordId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "record_id", r.recordId, "form", "")
	}
	if r.ruleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_id", r.ruleId, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
