/*
ROS Policy

Define, evaluate, and enforce data retention policies

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package drpe

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// AuditAPIService AuditAPI service
type AuditAPIService service

type ApiListAuditLogsApiV1AuditLogsGetRequest struct {
	ctx context.Context
	ApiService *AuditAPIService
	policyId *string
	recordId *string
	jobId *string
	eventType *AuditEventType
	since *time.Time
	until *time.Time
	limit *int32
	offset *int32
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) PolicyId(policyId string) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.policyId = &policyId
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) RecordId(recordId string) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.recordId = &recordId
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) JobId(jobId string) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.jobId = &jobId
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) EventType(eventType AuditEventType) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.eventType = &eventType
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) Since(since time.Time) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.since = &since
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) Until(until time.Time) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.until = &until
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) Limit(limit int32) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) Offset(offset int32) ApiListAuditLogsApiV1AuditLogsGetRequest {
	r.offset = &offset
	return r
}

func (r ApiListAuditLogsApiV1AuditLogsGetRequest) Execute() ([]AuditEntry, *http.Response, error) {
	return r.ApiService.ListAuditLogsApiV1AuditLogsGetExecute(r)
}

/*
ListAuditLogsApiV1AuditLogsGet List Audit Logs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAuditLogsApiV1AuditLogsGetRequest
*/
func (a *AuditAPIService) ListAuditLogsApiV1AuditLogsGet(ctx context.Context) ApiListAuditLogsApiV1AuditLogsGetRequest {
	return ApiListAuditLogsApiV1AuditLogsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AuditEntry
func (a *AuditAPIService) ListAuditLogsApiV1AuditLogsGetExecute(r ApiListAuditLogsApiV1AuditLogsGetRequest) ([]AuditEntry, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AuditEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.ListAuditLogsApiV1AuditLogsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/audit/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "form", "")
	}
	if r.recordId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "record_id", r.recordId, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_id", r.jobId, "form", "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", r.eventType, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
